<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Egora.Stammportal.LdapAuthorizationService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Egora.Stammportal.LdapAuthorizationService.Properties.Settings>
      <setting name="ConfigFile" serializeAs="String">
        <value>Configuration.xml</value>
      </setting>
      <setting name="CacheGroupResolution" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserFilter" serializeAs="String">
        <value>samAccountName={0}</value>
      </setting>
      <setting name="GroupFilter" serializeAs="String">
        <value>(distinguishedName={0}) </value>
      </setting>
      <setting name="ApplicationGroupFilter" serializeAs="String">
        <value>(&amp;(objectCategory=group)(member={0}))</value>
      </setting>
      <setting name="PvpTokenFormat" serializeAs="String">
        <value>&lt;pvpToken version="{0}" xmlns="http://egov.gv.at/pvp1.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
  &lt;authenticate&gt;
    &lt;participantId&gt;{1}&lt;/participantId&gt;
    {2}
  &lt;/authenticate&gt;
  &lt;authorize&gt;
    {3}
  &lt;/authorize&gt;
&lt;/pvpToken&gt;</value>
      </setting>
    </Egora.Stammportal.LdapAuthorizationService.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
