<?xml version="1.0"?>
<SAMLConfiguration ID="egora" 
                   xmlns="urn:componentspace:SAML:2.0:configuration" 
                   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
                   xsi:schemaLocation="urn:componentspace:SAML:2.0:configuration ..\_lib\ComponentSpaceLicensed\Documentation\saml-config-schema-v1.0.xsd">
  <IdentityProvider Name="http://egora.at/stammportal/pvp/saml2"
                      SingleLogoutServiceUrl="PvpSamlLoginHandler"
                      SingleSignOnServiceUrl="SamlLogoutHandler">
    <LocalCertificates>
      <Certificate Thumbprint="d081a5ee8eb7f648c3e65a5b2ddaebcfdc24bfa6" />
    </LocalCertificates>
  </IdentityProvider>
  <!-- CN = IdentityProvider -->
 
  <!-- Gever -->

  <PartnerServiceProviders>
    <PartnerServiceProvider Name="http://egora.at/pvptestapp"
                            AssertionConsumerServiceUrl="http://egoratest/PvpTestApplication/Saml/AssertionConsumer.aspx"
                            SingleLogoutServiceUrl="http://egoratest/PvpTestApplication/Saml/Logout.aspx"
                            WantAuthnRequestSigned="true"
                            SignSAMLResponse="true"
                            SignAssertion="true" 
                            DisableDestinationCheck="true">
      <!--SingleLogoutServiceResponseUrl="https://service.ooe.gv.at/stdportal-sp/portalverbund.gv.at/IPUK/saml/LogoutServiceHTTPRedirectResponse"-->
      <PartnerCertificates>
        <Certificate Use="Signature" StoreLocation="LocalMachine" Thumbprint="d081a5ee8eb7f648c3e65a5b2ddaebcfdc24bfa6"/>
        <Certificate Use="Encryption" StoreLocation="LocalMachine" Thumbprint="d081a5ee8eb7f648c3e65a5b2ddaebcfdc24bfa6"/>
      </PartnerCertificates>
    </PartnerServiceProvider>
  </PartnerServiceProviders>
</SAMLConfiguration>
