<?xml version="1.0"?>
<SAMLConfiguration Name="egora"
                   xmlns="urn:componentspace:SAML:2.0:configuration" 
                   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
                   xsi:schemaLocation="urn:componentspace:SAML:2.0:configuration ..\_lib\ComponentSpaceLicensed\Documentation\ComponentSpace.SAML2.Configuration.saml-config-schema.xsd">
  <IdentityProvider Name="http://egora.at/stammportal/pvp/saml2"
                      SingleLogoutServiceUrl="logout"
                      SingleSignOnServiceUrl="login">
    <LocalCertificates>
      <Certificate Thumbprint="df6dad1c52587afd5e20c75c85369afa6d1054a2" />
    </LocalCertificates>
  </IdentityProvider>
  <!-- CN = IdentityProvider -->
 
  <!-- Gever -->

  <PartnerServiceProviders>
    <PartnerServiceProvider Name="http://egora.at/pvptestapp"
                            AssertionConsumerServiceUrl="http://egoratest/PvpTestApplication/Saml/AssertionConsumer.aspx"
                            SingleLogoutServiceUrl="http://egoratest/PvpTestApplication/Saml/Logout.aspx"
                            WantAuthnRequestSigned="true"
                            SignSAMLResponse="true"
                            SignAssertion="true" 
                            DisableDestinationCheck="true">
      <!--SingleLogoutServiceResponseUrl="https://service.ooe.gv.at/stdportal-sp/portalverbund.gv.at/IPUK/saml/LogoutServiceHTTPRedirectResponse"-->
      <PartnerCertificates>
        <Certificate Use="Signature" StoreLocation="LocalMachine" Thumbprint="df6dad1c52587afd5e20c75c85369afa6d1054a2"/>
        <Certificate Use="Encryption" StoreLocation="LocalMachine" Thumbprint="df6dad1c52587afd5e20c75c85369afa6d1054a2"/>
      </PartnerCertificates>
    </PartnerServiceProvider>
  </PartnerServiceProviders>
</SAMLConfiguration>
