<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <IdentityProvider Name="http://egora.at/stammportal/pvp/saml2"
                    LocalCertificateThumbprint="6ec74259e49130b2e867f760031007db6a470438" /> 
          <!-- CN = IdentityProvider -->

  <!-- Gever -->
  <PartnerServiceProvider Name="http://egora.at/pvptestapp" 
                          WantAuthnRequestSigned="true" 
                          SignSAMLResponse="true" 
                          SignAssertion="true" 
                          EncryptAssertion="false" 
                          AssertionConsumerServiceUrl="http://egoratest/PvpTestApplication/Saml/AssertionConsumer.aspx"
                          SingleLogoutServiceUrl="http://egoratest/PvpTestApplication/Saml/Logout.aspx"
                          PartnerCertificateThumbprint="6ec74259e49130b2e867f760031007db6a470438"/> 

</SAMLConfiguration>
