<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <appSettings>
    <add key="LoginCookieName" value="TestStammportalLogin"/>
  </appSettings>
  <applicationSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
    <authentication mode="Windows"/>
    <machineKey decryptionKey="E37297BECE1BFC6088BF3DF417F64D5F509A363CAF2452F4" validationKey="E2A8C42E3B90F80B447331F0EFC8EC632EAFB316484A899405A7BDA2B3409AA6186ED14576175FF259BB96FF656BCEF93C1DF9E4C8CEDFE1B7ADE8E73937EAB7"/>
    <trace enabled="true"
           pageOutput="false"
           requestLimit="40"
           localOnly="true" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
      <handlers>
      <add name="PageHandlerFactory-Integrated"
           path="*.aspx"
           verb="GET,HEAD,POST,DEBUG"
           type="System.Web.UI.PageHandlerFactory"
           resourceType="Unspecified"
           requireAccess="Script"
           preCondition="integratedMode,runtimeVersionv4.0" />

      <!-- Optional: Tracing and other WebForms features -->
      <add name="SimpleHandlerFactory-Integrated"
           path="*.ashx"
           verb="GET,HEAD,POST,DEBUG"
           type="System.Web.UI.SimpleHandlerFactory"
           resourceType="Unspecified"
           preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="WebResourceHandler-Integrated"
           path="WebResource.axd"
           verb="GET,DEBUG"
           type="System.Web.Handlers.AssemblyResourceLoader"
           preCondition="integratedMode,runtimeVersionv4.0" />

      <add name="ScriptResourceHandler-Integrated"
           path="ScriptResource.axd"
           verb="GET,DEBUG"
           type="System.Web.Handlers.ScriptResourceHandler"
           preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="TraceHandler-Integrated"
           path="trace.axd"
           verb="GET,HEAD,POST,DEBUG"
           type="System.Web.Handlers.TraceHandler"
           preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="StammportalHandler"/>
    </handlers>
    <modules>
      <remove name="CertBasedUser"/>
      <remove name="SubAppUser"/>
    </modules>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="AuthenticationInformation"
              switchValue="Verbose">
        <listeners>
          <!-- Write to a rolling log file -->
          <add name="authLog"
               type="System.Diagnostics.TextWriterTraceListener"
               initializeData="D:\temp\AuthenticationInformation.log" />
          <!-- Always keep default console/debug listener -->
          <add name="Default" type="System.Diagnostics.DefaultTraceListener" />
        </listeners>
      </source>
    </sources>

    <trace autoflush="true" />
  </system.diagnostics>  
  <system.codedom>
    <compilers>
      <!-- Use built-in C# compiler -->
      <compiler language="c#;cs;csharp" extension=".cs"
                type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                warningLevel="4"
                compilerOptions="/langversion:default /nowarn:1659;1699;1701" />

    </compilers>
  </system.codedom>
</configuration>