<?xml version="1.0" encoding="utf-8"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">

  <ServiceProvider Name="http://egora.at/pvptestapp"
                   AssertionConsumerServiceUrl="~/Saml/AssertionConsumer.aspx"
                   LocalCertificateThumbprint="‎‎6ec74259e49130b2e867f760031007db6a470438"
                   />

  <PartnerIdentityProvider Name="http://egora.at/stammportal/pvp/saml2"
                           SignAuthnRequest="true"
                           SingleSignOnServiceBinding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST"
                           WantSAMLResponseSigned="true"
                           WantAssertionSigned="true"
                           WantAssertionEncrypted="false"
                           SingleSignOnServiceUrl="http://egoratest/PvpIdentityProvider/login"
                           SingleLogoutServiceUrl="http://egoratest/PvpIdentityProvider/logout"
                           PartnerCertificateThumbprint="‎‎‎6ec74259e49130b2e867f760031007db6a470438"/>

</SAMLConfiguration>
