<?xml version="1.0" encoding="utf-8"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">

  <ServiceProvider Name="http://egora.at/pvptestapp"
                   AssertionConsumerServiceUrl="~/Saml/AssertionConsumer.aspx"
                   LocalCertificateThumbprint="‎‎949661a0ffd3dfeda96364a2ee613a074cc3378b"
                   />

  <PartnerIdentityProvider Name="http://egora.at/stammportal/pvp/saml2"
                           SignAuthnRequest="true"
                           SingleSignOnServiceBinding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST"
                           WantSAMLResponseSigned="true"
                           WantAssertionSigned="true"
                           WantAssertionEncrypted="false"
                           SingleSignOnServiceUrl="http://egoratest/PvpIdentityProvider/login"
                           SingleLogoutServiceUrl="http://egoratest/PvpIdentityProvider/logout"
                           PartnerCertificateThumbprint="‎‎‎38faa4de17112fcda5fdd9ce0f0a74ba9f8b0bfb"/>

</SAMLConfiguration>
