<?xml version="1.0" encoding="utf-8"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">

  <ServiceProvider Name="http://egora.at/pvptestapp"
                   AssertionConsumerServiceUrl="http://egoratest/PvpTestApplication/Saml/AssertionConsumer.aspx"
                   >
    <LocalCertificates >
      <Certificate Thumbprint="d081a5ee8eb7f648c3e65a5b2ddaebcfdc24bfa6" StoreLocation="LocalMachine"/>
    </LocalCertificates>
  </ServiceProvider>

  <PartnerIdentityProviders>
    <PartnerIdentityProvider Name="http://egora.at/stammportal/pvp/saml2"
                             SignAuthnRequest="true"
                             SingleSignOnServiceBinding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST"
                             WantSAMLResponseSigned="true"
                             WantAssertionSigned="true"
                             WantAssertionEncrypted="false"
                             SingleSignOnServiceUrl="http://egoratest/PvpIdentityProvider/login"
                             SingleLogoutServiceUrl="http://egoratest/PvpIdentityProvider/logout"
                             DisableDestinationCheck="true"
                             DisableRecipientCheck="true">
      <PartnerCertificates>
        <Certificate Use="Signature" StoreLocation="LocalMachine" Thumbprint="d081a5ee8eb7f648c3e65a5b2ddaebcfdc24bfa6"/>
      </PartnerCertificates>
    </PartnerIdentityProvider>

  </PartnerIdentityProviders>
</SAMLConfiguration>
