@{
    ViewBag.Title = "Login Info";
}
<h2>@ViewBag.Title.</h2>
<p>Code=@ViewBag.Code</p>
<p>State=@ViewBag.State</p>
<p>Identity=@ViewBag.Identity</p>
<p>AccountName=@ViewBag.AccountName</p>
<p>ReturnUrl=@ViewBag.ReturnUrl</p>
<p>@ViewBag.Error</p>