<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Egora.Stammportal.HttpReverseProxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings />
  <connectionStrings />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime executionTimeout="300" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms" >
		<forms loginUrl="login\login.aspx" />  
	</authentication>
	
	<authorization>  
		<deny users="?" />  
	</authorization>  
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.diagnostics>
    <sources>
      <source name="System.Net" maxdatasize="1024">
        <listeners>
          <add name="NetTraceFile" />
        </listeners>
      </source>
      <source name="System.Net.Sockets" maxdatasize="1024">
        <listeners>
          <add name="NetTraceFile" />
        </listeners>
      </source>
      <source name="ReverseProxy" switchName="reverseProxySwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!--
          <add name="console" 
            type="System.Diagnostics.ConsoleTraceListener">
            <filter type="System.Diagnostics.EventTypeFilter" 
              initializeData="Warning"/>
          </add>
          -->
          <add name="fileListener" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <switches>
      <!--
       ActivityTracing   Allows the Stop, Start, Suspend, Transfer, and Resume events through.  
       All               Allows all events through.  
       Critical          Allows only Critical events through.  
       Error             Allows Critical and Error events through.  
       Information       Allows Critical, Error, Warning, and Information events through.  
       Off               Does not allow any events through.  
       Verbose           Allows Critical, Error, Warning, Information, and Verbose events through.  
       Warning           Allows Critical, Error, and Warning events through.  
      -->
      <add name="reverseProxySwitch" value="Error" />
      <add name="System.Net" value="Verbose" />
      <add name="System.Net.Sockets" value="Verbose" />
    </switches>
    <sharedListeners>
      <!--
        Callstack             Write the call stack, which is represented by the return value of the Environment.StackTrace property.  
        DateTime              Write the date and time.   
        LogicalOperationStack Write the logical operation stack, which is represented by the return value of the CorrelationManager.LogicalOperationStack property.  
        None                  Do not write any elements.  
        ProcessId             Write the process identity, which is represented by the return value of the Process.Id property.  
        ThreadId              Write the thread identity, which is represented by the return value of the Thread.ManagedThreadId property for the current thread.  
        Timestamp             Write the timestamp, which is represented by the return value of the System.Diagnostics.Stopwatch.GetTimeStamp method.  
      -->
      <add name="NetTraceFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\temp\log\System.Net.trace.log" traceOutputOptions="ProcessId, ThreadId, DateTime" />
      <add name="fileListener" type="System.Diagnostics.DelimitedListTraceListener" delimiter="|" initializeData="C:\temp\log\ReverseProxy.log" traceOutputOptions="ProcessId, ThreadId, DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
    </sharedListeners>
    <trace autoflush="true" indentsize="2" />
  </system.diagnostics>
  <applicationSettings>
    <Egora.Stammportal.HttpReverseProxy.Properties.Settings>
      <setting name="AdministrationGroup" serializeAs="String">
        <value>BUILTIN\Administrators</value>
      </setting>
      <setting name="AdministrationPath" serializeAs="String">
        <value>/admin</value>
      </setting>
      <setting name="PathMapFile" serializeAs="String">
        <value>~/Mapping.xml</value>
      </setting>
      <setting name="AuthorizationWebServiceDefault" serializeAs="String">
        <value>http://egoratest/TestAuthorizationWebService/PvpAuthorizer.asmx</value>
      </setting>
      <setting name="HistoryLength" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ImpersonateWebRequest" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProcessRequestWithoutAuthorization" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RemoveLeftSideAuthorization" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RequestTimeoutSeconds" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="ConnectionsPerServer" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="RetryableErrorMessages" serializeAs="String">
        <value>connection that was expected to be kept alive was closed by the server</value>
      </setting>
      <setting name="RemoveAuthorizationHeader" serializeAs="String">
        <value>Negotiate NTLM</value>
      </setting>
      <setting name="ConnectionMaxIdleTimeSeconds" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="BufferLeftSide" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BufferRightSide" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NetworkRetryDelay" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="NetworkRetryCount" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="RetryableHosts" serializeAs="String">
        <value>pvawp.bmi.gv.at;localhost;egoratest</value>
      </setting>
      <setting name="RetrySoap" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SubstituteHostInLocationHeader" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AuthenticationLevel" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="UseFromHeader" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rubicon_Stammportal_HttpReverseProxy_AuthorizationWebService_PvpAuthorizer" serializeAs="String">
        <value>http://egoratest/TestAuthorizationWebService/PvpAuthorizer.asmx</value>
      </setting>
      <setting name="TrafficLogDir" serializeAs="String">
        <value>C:\temp</value>
      </setting>
      <setting name="RequestHeaderToRemove" serializeAs="String">
        <value>VsDebuggerCausalityData</value>
      </setting>
      <setting name="SecurityProtocol" serializeAs="String">
        <value>3840</value>
      </setting>
      <!-- 
          3840 = Tls12 or Tls11
          SecurityProtocolType.Ssl3=48
          SecurityProtocolType.Tls=192
          SecurityProtocolType.Tls11=768
          SecurityProtocolType.Tls12=3072
        -->
      <setting name="WorkaroundCookieWithEmptyPath" serializeAs="String">
        <value>True</value>
      </setting>
    </Egora.Stammportal.HttpReverseProxy.Properties.Settings>
  </applicationSettings>
  <system.webServer>
    <handlers>
            <remove name="ClientLoggingHandler" />
            <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="StaticFile" />
      <remove name="xamlx-Integrated-4.0" />
      <remove name="xoml-ISAPI-4.0_64bit" />
      <remove name="WebAdminHandler-Integrated" />
      <remove name="xoml-Integrated" />
      <remove name="WebServiceHandlerFactory-ISAPI-2.0" />
      <remove name="vbhtm-ISAPI-4.0_64bit" />
      <remove name="svc-ISAPI-2.0-64" />
      <remove name="TraceHandler-Integrated-4.0" />
      <remove name="xoml-ISAPI-2.0" />
      <remove name="xamlx-ISAPI-4.0_64bit" />
      <remove name="WebServiceHandlerFactory-ISAPI-4.0_32bit" />
      <remove name="vbhtml-ISAPI-4.0_32bit" />
      <remove name="vbhtm-Integrated-4.0" />
      <remove name="svc-ISAPI-4.0_64bit" />
      <remove name="svc-Integrated-4.0" />
      <remove name="xoml-ISAPI-4.0_32bit" />
      <remove name="xoml-Integrated-4.0" />
      <remove name="xoml-64-ISAPI-2.0" />
      <remove name="xamlx-ISAPI-4.0_32bit" />
      <remove name="WebServiceHandlerFactory-ISAPI-4.0_64bit" />
      <remove name="WebServiceHandlerFactory-ISAPI-2.0-64" />
      <remove name="WebServiceHandlerFactory-Integrated-4.0" />
      <remove name="WebAdminHandler-Integrated-4.0" />
      <remove name="vbhtml-ISAPI-4.0_64bit" />
      <remove name="vbhtml-Integrated-4.0" />
      <remove name="vbhtm-ISAPI-4.0_32bit" />
      <remove name="TRACEVerbHandler" />
      <remove name="TraceHandler-Integrated" />
      <remove name="svc-ISAPI-4.0_32bit" />
      <remove name="svc-ISAPI-2.0" />
      <remove name="svc-Integrated" />
      <remove name="SimpleHandlerFactory-ISAPI-4.0_64bit" />
      <remove name="SimpleHandlerFactory-ISAPI-4.0_32bit" />
      <remove name="SimpleHandlerFactory-ISAPI-2.0-64" />
      <remove name="SimpleHandlerFactory-ISAPI-2.0" />
      <remove name="SimpleHandlerFactory-Integrated-4.0" />
      <remove name="SimpleHandlerFactory-Integrated" />
      <remove name="ScriptResourceIntegrated-4.0" />
      <remove name="ScriptHandlerFactoryAppServices-Integrated-4.0" />
      <remove name="rules-ISAPI-4.0_64bit" />
      <remove name="rules-ISAPI-4.0_32bit" />
      <remove name="rules-ISAPI-2.0" />
      <remove name="rules-Integrated-4.0" />
      <remove name="rules-Integrated" />
      <remove name="rules-64-ISAPI-2.0" />
      <remove name="PageHandlerFactory-ISAPI-4.0_64bit" />
      <remove name="PageHandlerFactory-ISAPI-4.0_32bit" />
      <remove name="PageHandlerFactory-ISAPI-2.0-64" />
      <remove name="PageHandlerFactory-ISAPI-2.0" />
      <remove name="PageHandlerFactory-Integrated-4.0" />
      <remove name="PageHandlerFactory-Integrated" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_64bit" />
      <remove name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_32bit" />
      <remove name="HttpRemotingHandlerFactory-soap-ISAPI-2.0-64" />
      <remove name="HttpRemotingHandlerFactory-soap-ISAPI-2.0" />
      <remove name="HttpRemotingHandlerFactory-soap-Integrated-4.0" />
      <remove name="HttpRemotingHandlerFactory-soap-Integrated" />
      <remove name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_64bit" />
      <remove name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_32bit" />
      <remove name="HttpRemotingHandlerFactory-rem-ISAPI-2.0-64" />
      <remove name="HttpRemotingHandlerFactory-rem-ISAPI-2.0" />
      <remove name="HttpRemotingHandlerFactory-rem-Integrated-4.0" />
      <remove name="HttpRemotingHandlerFactory-rem-Integrated" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="cshtml-ISAPI-4.0_64bit" />
      <remove name="cshtml-ISAPI-4.0_32bit" />
      <remove name="cshtml-Integrated-4.0" />
      <remove name="cshtm-ISAPI-4.0_64bit" />
      <remove name="cshtm-ISAPI-4.0_32bit" />
      <remove name="cshtm-Integrated-4.0" />
      <remove name="AXD-ISAPI-4.0_64bit" />
      <remove name="AXD-ISAPI-4.0_32bit" />
      <remove name="AXD-ISAPI-2.0-64" />
      <remove name="AXD-ISAPI-2.0" />
      <remove name="AssemblyResourceLoader-Integrated-4.0" />
      <remove name="AssemblyResourceLoader-Integrated" />
      <remove name="aspq-ISAPI-4.0_64bit" />
      <remove name="aspq-ISAPI-4.0_32bit" />
      <remove name="aspq-Integrated-4.0" />
      <add name="StammportalHandler" path="*" verb="*" type="Egora.Stammportal.HttpReverseProxy.HttpReverseProxyHandler" preCondition="integratedMode" />
    </handlers>
    <modules>
      <remove name="ServiceModel" />
      <remove name="ServiceModel-4.0" />
    </modules>
        <tracing>
            <traceFailedRequests>
                <remove path="*" />
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:00" statusCodes="200-500" />
                </add>
            </traceFailedRequests>
        </tracing>
  </system.webServer>
</configuration>