{      
		"ClientId": "3Qtp9q2g9g1ZojA3ad0TzjnNMq84tox2",
		"ClientSecret":"m-MKTduI7oNFU23gS5gZ7NQU-wU1W4Uop9Qvtf5_8qFfrFvEVfyprJYLu2EbFcXP",
		"DiscoveryEndpoint": "https://dev-wk.eu.auth0.com/.well-known/openid-configuration",
		"Issuer":"https://dev-wk.eu.auth0.com/",
    "Scope":"openid profile email"
}